@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-bigshoulder;
  }

  li {
    @apply p-4;
  }

  h1 {
    @apply text-3xl md:text-xl font-bold;
  }
}

.modal-content {
  width: 700px;
  height: 600px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 100px;
  position: relative;
}
.modal-content input {
  font-size: 15px;
  padding: 10px 10px;
  font-family: 'Playfair Display', serif;
}
.modal-content input.dnt-btn {
  background: orange;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: 600;
}
form .dnt-btn:hover {
  background-color: orangered;
}
header form input {
  width: 50%;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding-top: 10px;
}
header .modal-content .close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 45px;
  transform: rotate(45deg);
  cursor: pointer;
}
