* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    width: auto;
    height: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Playfair Display', serif;
}
.logo {
    width: 200px;
}
nav {
    margin-left: 25%;
}
nav ul li {
    display: inline-flex;  
}
a {
    color: black;
    font-size: 25px;
    padding-right: 50px;
}
a:hover{
    color: #135cfd;
}
.donate-btn{
    margin-right: 200px;
}
.donate-btn {
    color: black;
    font-size: 25px;
    padding: 15px 30px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;   
}
.donate-btn:hover{
    background-color: #3deeb7;
}
.section-main {
    height: 700px;
    background-image: url('../images/shelter1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.section-two {
    height: auto;
    width: auto;
    text-align: center;
}
.main-content h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}
.camp-list {
    display: inline-block;
    margin-right: 40px;
    align-items: center;
}
.camp-list img {
    margin-top: 30px;
    width: 600px;
    height: 600px;
}
footer {
    background-color: orange;
    width: auto;
    height: 500px;
    margin-top: 50px;
}
